.flexslider {
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;

	&:hover {
	  	.flex-prev {
			left: -80px;
		}
		.flex-next {
			right: -80px;
		}
	}

	.slide {
		@include add-grid(24 at 480px);
		@include add-gutter(1/3);
		// border-bottom: 1px solid $color_grey-light;
		

		#linked-book {
			@include breakpoint( $mobile-horizontal ){
				@include grid-span(6, 19);
			}
		}
		#slide-content {
			@include breakpoint( $mobile-horizontal ){
				@include grid-span(15, 1);
			}
		}
	}


}

.flex-control-thumbs {
	img {
		opacity: 1;
		&.flex-active {
			opacity: .2;
		}
	}
	li {
		padding: 0;
		max-width: 60px;
		margin-right: 15px;		
		@include breakpoint( $desktop ){
			max-width: 33px;
			margin-right: 10px;
		} 
	}
}

ol.flex-control-nav {
	position: relative;
	bottom: auto;
	margin-top: 1em;
	padding-right: 10px 0;
	width: 100%;
	// max-width: 400px;
	@include breakpoint( $tablet ){
		margin-top: 1.5em;
		padding: 0;
	} 
	li {
		padding: 0;
		@include breakpoint( $tablet ){
			padding: 0;
		} 
	}
}

ol.flex-control-paging {
	margin: 1em 0;
	li {
		a {
			width: 20px;
			height: 20px;
		}
	}
}

.flex-direction-nav {
	a {
		&.flex-prev {
			left: 0;
		}
		&.flex-next {
			right: 0;
			&:before {
				content: '\e607';
			}
		}
		&:before {
			font-family: 'mbd-icon-font';
			font-size: 40px;
			display: inline-block;
			content: '\e609';
		}
	}
}

#testimonials-title {
	@extend .h2-meta;
	span {
		font-weight: 900;
	}
}
