.flexslider {
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;

	&:hover {
	  	.flex-prev {
			left: -80px;
		}
		.flex-next {
			right: -80px;
		}
	}

	.media_block-image {
		@include breakpoint( $tablet ) {
			text-align: left;
		}
		img {
			@include center-block;
			@include breakpoint( $tablet ) {
				margin: 0;
				display: inline;
				max-width: 99px;
				padding-right: 10px;
			}
		}
	}
}

.flex-control-thumbs {
	img {
		opacity: 1;
		&.flex-active {
			opacity: .2;
		}
	}
}

ol.flex-control-nav {
	margin-top: 1em;
	padding: 10px 0;
	border-top: 1px solid $color_grey-light;
	width: 100%;
	max-width: 400px;
	li {
		padding: 0 5%;
	}
}

.flex-direction-nav {
	a {
		&.flex-prev {
			left: 0;
		}
		&.flex-next {
			right: 0;
			&:before {
				content: '\e607';
			}
		}
		&:before {
			font-family: 'mbd-icon-font';
			font-size: 40px;
			display: inline-block;
			content: '\e609';
		}
	}
}

#testimonials-title {
	@extend .h2-meta;
	span {
		font-weight: 900;
	}
}
