/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
	color: $color_text-footer;
	background: $color_background-footer;

	.site-info {
		font-size: 11px;
	}
}

#footer-widgets {
	aside {
		padding: 1%;
	}
}

#back-to-top {
	float: right;
	width: 30%;
}
