/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
	color: $color_text-footer;
	background: $color_background-footer;

	.site-info {
		@extend .font_small !optional;
		@include breakpoint( $mobile ){	
			float: left;
			width: 50%;
			text-align: left;
		}
	}

	a {
		&:link {
			@include transition(all, 0.3s, ease-in-out);
			opacity: .4;
			text-decoration: none;
		}
		&:visited {
	 	}
		&:hover {
			opacity: .7;
		}
		&:active {
		}
	}
}

#footer-widgets {
	aside {
		padding: 1%;
	}
}

#back-to-top {
	@include breakpoint( $mobile ){	
		float: right;
		width: 50%;
		text-align: right;
	}
}

#copyright {
	margin-bottom: 10px;
}
