/* ==========================================================================
   Header
   ==========================================================================de */
#pre-header {
	display: none;
}

.site-header {
	padding-top: 10px;
	padding-bottom: 10px;
	@include breakpoint( $tablet ){
		padding-top: 1em;
		padding-bottom: 1em;
	}
	a {
		&.toggle {
			// color: $color_white;
			opacity: .8;
			width: auto;
			margin: 0 0 0 3%;
			padding: 3%;
			float: left;
			@include border-bottom-radius( 5px );
			border-bottom: 3px solid  $color-background-pre-header;
			@include transition(all, 0.1s, ease-in-out); 
			&.active {
				@include transition(all, 0.3s, ease-in-out);
			}


		}
		
		&#nav-toggle {
			margin: 0 3% 0 0;
			float: right;
			border-bottom: 0;
			border-top: 3px solid  $color-background-pre-header;
			@include border-top-radius( 5px );
			@include border-bottom-radius( 0 );
			
		}	

	}
}


.site-branding {
	width: 100%;
	max-width: 150px;
	float: left;

	a {
		display: block;
	}
}

#pre-header-search {
	@include breakpoint($tablet){
		display: none;
	}
}

#nav-bar-search  {
	display: none;
	@include breakpoint($tablet){
		display: block;
		float: right;

		form {
			padding: 0;
			color: $color-text-pre-header;


			label {
				padding: 0;
			}



			input[type="search"] {
				margin: 0;
				background: darken( $color-background-pre-header, 20% );
			}
		}
	}
}

/* Hidden Search in Nav */

.js #nav-bar-search {
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	top: 100%;
  	z-index: 1;
  	padding: 10px;
 	@include transition(all, 0.3s, ease-in-out); 
} 

.js-search-active #nav-bar-search {
  opacity: .8;
  background: $color_grey-light;
  @include transition(all, 0.3s, ease-in-out); 
} 

.site-header {
	color: $color_text-header;
	background: $color_background-header;
	&.section {
	}
	h1 {
		margin: 0;
	}
}
