.hero {
	@include clearfix;
	padding: 1em 0;
	position: relative;
	background: $color_background-hero;
	border-bottom: 1px solid #ddd;
	@include breakpoint( $tablet ) {
		padding: 2em 0;
	}
	
	.container {
		background: transparent;
		@include breakpoint($tablet) {
			background: url('assets/images/hero-background.jpg') no-repeat bottom right;
		}
	}
	.hero-image {
		@include breakpoint( $tablet ) {
			display: none;
		}
	}
	.hero-text {
		padding-top: 1em;
		@include breakpoint( $tablet ) {
			padding-top: 0;
			width: 45%;
			float: left;
		}

	}
	picture {
		@include breakpoint( $tablet ) {
			display: none;
		}
	}
}


.hero {
	position: relative;
	color: $color_text;
	text-align: center;

	@include breakpoint($tablet) {
		text-align: left;
	}
	a {
		display: block;
		width: 100%;
		&.cta-primary {
			@include cta-primary;
			margin: 0 0 1em 0;
			@include breakpoint($tablet) {
				margin: 0 20px 0 0;
			}
		}
		&.cta-secondary {
			@include cta-secondary;
		}
	}

	.hero-cta {
		@include clearfix;
		div {
			width: 100%;
			@include breakpoint(mobile){
				display: inline-block;
				width: auto;
			}
		}	
	}
}

// Modifications to the basic hero module for the home page

.home .hero {
	padding: 0;

	// Headers & typography

	h1, h3 {
		@include breakpoint( $tablet ) {
		}
	}

	h1 {
		padding: 0;
		margin: 0;
		@include breakpoint( $tablet ) {
			font-size: 4em;
		}
		@include breakpoint( $tablet-horizontal ) {
			font-size: 5em;
		}
		@include breakpoint( desktop ) {
			font-size: 6em;
		}
		@include breakpoint( desktop-wide ) {
			font-size: 7em;

		}
	}

	.hero-cta {
				a {
					padding: 1em; // Extra pad for bigness!
				}
		@include clearfix;
		@include breakpoint(mobile-horizontal){
			margin-bottom: 1em;
		}
		@include breakpoint($tablet){
			margin-bottom: 2em;
		}

	}
}
