.hero {
	@include clearfix;
	position: relative;
	color: $color_text-hero;	
	background: $color_background-hero;
	border-bottom: 1px solid #ddd;
	@include add-grid(24 at 480px);
	@include add-gutter(1/3);

	
	/* Headings */
	h1 {color: $color_heading-1-hero;}
	h2 {color: $color_heading-2-hero;}
	h3 {color: $color_heading-3-hero;}
	h4 {color: $color_heading-4-hero;}
	h5 {color: $color_heading-5-hero;}
	h6 {color: $color_heading-6-hero;}

	.container {
		background: transparent;
		@include breakpoint($tablet) {
			// background: url('assets/images/hero-background.jpg') no-repeat bottom right;
		}
	}



	.hero-image {
		padding: 4px;
		border: 1px solid rgba(0, 0, 0, 0.15);
		@include breakpoint( $tablet ) {
			// display: none;
			@include grid-span(8, 17);
		}
	}
	.hero-text {
		padding-top: 1em;
		@include breakpoint( $tablet ) {
			padding-top: 0;
			@include grid-span(12, 1);

		}

	}

	a {
		border-bottom: none;
	}
}


.hero {
	position: relative;
	color: $color_text;
	text-align: center;

	@include breakpoint($tablet) {
		text-align: left;
	}
	a {
		display: block;
		width: 100%;
		&.cta-primary {
			@include cta-primary;
			margin: 0 0 1em 0;
			@include breakpoint($tablet) {
				margin: 0 20px 0 0;
			}
		}
		&.cta-secondary {
			@include cta-secondary;
		}
	}

	.hero-cta {
		@include clearfix;
		div {
			width: 100%;
			@include breakpoint( $mobile){
				display: inline-block;
				width: auto;
			}
		}	
	}
}

// Modifications to the basic hero module for the home page

.home .hero {

	// Headers & typography



	.hero-cta {
				a {
					padding: 1em; // Extra pad for bigness!
				}
		@include clearfix;
		@include breakpoint($mobile-horizontal){
			margin-bottom: 1em;
		}
		@include breakpoint($tablet){
			margin-bottom: 2em;
		}

	}
	#lead {
		@include breakpoint($tablet){
			margin-bottom: 2em;
		}
	}
}



