/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 0 auto;
}

.content-area {
	@include breakpoint(medium) {
		float: left;
		margin: 0 -25% 0 0;
	}
	width: 100%;
}

.site-main {
	@include breakpoint(medium) {
		margin: 0 25% 0 0;
	}
}

.site-content {
	padding: $block-padding;
}

.site-content .widget-area {
	@include breakpoint(medium) {
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

.site-footer {
	clear: both;
	padding: $block-padding;
	width: 100%;
}

.site-footer ul {
	padding: 0;
	margin-bottom: 1em;
}
