/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 0 auto;
}

.content-area {
	@include breakpoint(medium) {
		float: left;
		margin: 0 -25% 0 0;
	}
	width: 100%;
}

.site-main {
	padding: $block-padding;
	@include breakpoint(medium) {
		margin: 0 25% 0 0;
	}
}

.site-content {
}

.site-content .widget-area {
	@include breakpoint(medium) {
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

/* Header */

.site-description {
	padding: $block-padding;
}

.site-title {
	padding: $block-padding;
}

h1.menu-toggle {
	margin: 0;
	padding:  0 $side-padding;
}

/* Menu */

ul.nav-menu li a {
	padding: 5px $side-padding;
}

.site-footer {
	clear: both;
	padding: $block-padding;
	width: 100%;
}

#footer-widgets {
	padding: $block-padding;
}

.site-footer ul {
	padding: 0;
	margin-bottom: 1em;
}

.masonrycontainer {
	@include clearfix();
}

.masonrycontainer aside,
.site-footer > div,
.site-footer > ul {
	float: none;
	padding: 2%;
	width: 100%;
	@include breakpoint(medium) {
		float: left;
		width: 31.25%;
	}
}

.grid-sizer {
	width: 100%;
	@include breakpoint(medium) {
		width: 31.25%;
	}
}

.gutter-sizer {
	width: 0;
	@include breakpoint(medium) {
		width: 3.125%;
	}
}

/* Search */

input[type=search] {
    	color: #fff;
	background: rgba(0,0,0,.1);
   	border-width: 0;
    	width: 94%;
    	padding: $block-padding;
	margin: $block-padding;
}
