/* ==========================================================================
   Layout
   ========================================================================== */

html, 
body,
#page {
	height: 100%; /* Important for sticky footer */
}

.section {
	width: 100%;
	padding: 3em 3%;

	.container {
		max-width: $container-width;
		margin: 0 auto; // Centre the container on the page.
		@include clearfix; // Likely to contain floated elements i.e. columns
	}
}

/* Right sidebar */

.right-sidebar .content-area {
	@include breakpoint(medium) {
		float: left;
		margin: 0 -25% 0 0;
	}
	width: 100%;
}

.right-sidebar .site-main {
	padding: $block-padding;
	@include breakpoint(medium) {
		margin: 0 25% 0 0;
	}
}

.right-sidebar .site-content .widget-area {
	@include breakpoint(medium) {
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

/* Left sidebar */

.left-sidebar .content-area {
	@include breakpoint(medium) {
		float: right;
		margin: 0 -25% 0 0;
	}
	width: 100%;
}

.left-sidebar .site-main {
	padding: $block-padding;
	@include breakpoint(medium) {
		margin: 0;
	}
}

.left-sidebar .site-content .widget-area {
	@include breakpoint(medium) {
		float: left;
		overflow: hidden;
		width: 25%;
	}
}



/* Menu */

ul.nav-menu li a {
	padding: 5px $side-padding;
}




/* Search */

input[type=search] {
    	color: #fff;
	background: rgba(0,0,0,.1);
   	border-width: 0;
    	width: 94%;
    	padding: $block-padding;
	margin: $block-padding;
}
