// Base

.masonrycontainer {
	@include clearfix;

	aside {
		width: 100%;
		@include breakpoint(mobile-horizontal) {
			width: $grid-sizer-1;
		}
		@include breakpoint(tablet-horizontal) {
			width: $grid-sizer-2;
		}
	}
}



.grid-sizer {
	width: 100%;
	@include breakpoint(mobile-horizontal) {
		width: $grid-sizer-1;
	}
	@include breakpoint(tablet-horizontal) {
		width: $grid-sizer-2;
	}
}

.gutter-sizer {
	width: 0; // No gutter
	@include breakpoint(mobile-horizontal) {
		width: $gutter-sizer-1;
	}
}


