/* ==========================================================================
   Menus
   ========================================================================== */

.nav-collapse {
	transition: all 0.2s ease-in;

	li:hover {
		// background: rgba(0,0,0,.1);
		@include transition(all, 0.3s, ease-in-out);
	}
}

.main-navigation {
	font-size: 1.1em;
	display: block;
	width: 100%;
	@include breakpoint($tablet){
		width: 60%;
		float: right;
		text-align: right;
	}
}

.main-navigation ul {
	@include clearfix;
	list-style: none;
	margin: 0;
	padding: 20px 0;

	&.sub-menu {
		@include breakpoint($tablet){
			width: 150px;
			background: rgba(255, 255, 255, .8);
			z-index: 2;

			li {
				width: 100%;
				text-align: left;
				margin: 0;
			}
		}
	}

	li {

		text-align: center;
		@include breakpoint($tablet){
			//background: $color_background-nav;
			@include border-radius(5px);			
			display: inline-block;
			margin-right: 15px;
			position: relative; // Allow absolute positioning
		}

		&.current-menu-item,
		&.current_page_parent {
			font-weight: bold;
		}



		ul {
			@include breakpoint($tablet){
				left: 0;

				display: none;
				visibility: hidden;
				position: absolute; // Overlay other content
				opacity: 0;
			}
		}			
		&:hover > ul { 
			display: block; // Sub-menus appear on hover
			opacity: 1;
			visibility: visible;
			@include transition(all, 0.3s, ease-in-out);
		}
	}
}
	


.main-navigation a {
	text-decoration: none;
	color: $color_white;
	//display: inline; 
	&:hover {
	}
}

/* Toggles */

a#nav-toggle {
	&.active {
		float: right;
		&::before {
  			font-size: 14px;
  			content:"\e602";
		}
	}
}

a#search-toggle {

	@include breakpoint( $tablet ){
		color: $color_white;
		margin: 0;
		padding: 24px 0; // visually adjusted ;)
		float: right;
	}

	&:link, &:visited {
		color: $color_white;
	}
}	

/* Indicate hidden menu content */
.main-navigation li.menu-item-has-children > a:after {
	font-family: 'FontAwesome';
	content: '\f0d7'; //  fa-caret-down
	padding-left: 5px;
	color: lighten( $color-text-pre-header, 60% );
}





.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.js-nav-active {
	.nav-collapse {
		max-height: 300em; // must set max-height for transition effect
		transition: all 0.2s ease-in;
	}
}
