/* ==========================================================================
   Menus
   ========================================================================== */

.nav-collapse {
	background: rgba(0,0,0,.1);
	transition: all 0.2s ease-in;

	li:hover {
		background: rgba(0,0,0,.1);
		@include transition(all, 0.3s, ease-in-out);
	}
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	@include breakpoint(tablet){
		width: 70%;
		float: left;
	}
}

.main-navigation ul {
	@include clearfix;
	list-style: none;
	margin: 0;
	padding-left: 0;
	li {

		text-align: center;

		@include breakpoint(tablet){
			//background: $color_background-nav;
			@include border-radius(5px);			
			padding: 3px;			
			display: inline-block;
			margin-right: 20px;
			position: relative; // Allow absolute positioning
		}
		ul {
			@include breakpoint(tablet){
				left: 0;
				width: 150px;
				display: none;
				visibility: hidden;
				position: absolute; // Overlay other content
				opacity: 0;
			}
		}			
		&:hover > ul { 
			display: block; // Sub-menus appear on hover
			opacity: 1;
			visibility: visible;
			background: $color_grey;
			@include transition(all, 0.3s, ease-in-out);
		}
	}
}
	


.main-navigation a {
	padding: .88em 3%;
	display: block;
	text-decoration: none;
	color: $color_white;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}


#nav-toggle {
	&.active {
		float: right;
		&::before {
  			font-size: 14px;
  			content:"\e602";
		}
	}
}

.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.js-nav-active {
	.nav-collapse {
		max-height: 300em; // must set max-height for transition effect
		transition: all 0.2s ease-in;
	}
}
