/* ==========================================================================
   Menus
   ========================================================================== */

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	@include breakpoint(tablet){
	}
}

.main-navigation ul {
	@include clearfix;
	list-style: none;
	margin: 0;
	padding-left: 0;
	li {
		padding: 3px;
		text-align: center;
		background: $color_background-nav;
		@include border-radius(5px);
		@include breakpoint(tablet){
			display: inline-block;
			margin-right: 20px;
			position: relative; // Allow absolute positioning
		}
		ul {
			@include breakpoint(tablet){
				left: 0;
				width: 150px;
				display: none;
				visibility: hidden;
				position: absolute; // Overlay other content
				opacity: 0;
			}
		}			
		&:hover > ul { 
			display: block; // Sub-menus appear on hover
			opacity: 1;
			visibility: visible;
		}
	}
}
	


.main-navigation a {
	display: block;
	text-decoration: none;
}


.main-navigation ul a {
	 border-bottom: 1px solid darken($color_background-nav, 4%);
	 border-top: 1px solid lighten($color_background-nav, 2%);
	 @include breakpoint(tablet){
		 border: none;
	 }
 }

.main-navigation ul ul a {
	 background: darken($color_background-nav, 2%);
	 border-top: 1px solid darken($color_background-nav, 4%);
	 border-bottom: 1px solid lighten($color_background-nav, 2%);
 }

.main-navigation ul ul ul a {
	 background: darken($color_background-nav, 4%);
	 border-top: 1px solid darken($color_background-nav, 6%);
	 border-bottom: 1px solid darken($color_background-nav, 4%);
 }

.main-navigation ul ul li {
 	background: darken($color_background-nav, 10%);
}

.main-navigation li:hover > a {
	 background: darken($color_background-nav, 2%);
 }

.main-navigation ul ul l:hover > a {
	 background: darken($color_background-nav, 4%);
 }

 .main-navigation ul ul ul li:hover > a {
	 background: darken($color_background-nav, 6%);
 }

.main-navigation ul ul a:hover {
}



.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
