/* ==========================================================================
   Home Page Template
   ========================================================================== */

div#tweets {

	padding-bottom: 0;
	@include palette-1;
	a:link {
		border-bottom: none;
	}
	.container {
		@include add-grid(24 at 480px);
		@include add-gutter(1/3);
	}

	#twitter-avatar {
		display: none;
		@include breakpoint( $tablet ){
			display: block;
			width: 160px;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		img {
			//position: absolute;

			// width: 200px;
		}
	}
	#tweet-wrapper {
		@include breakpoint( $tablet ){
			@include grid-span(18, 7);
		}
		ul {
			padding: 0;
			li {
				display: block;
				@include clearfix;
			}
		}
	}

	#twitter-feed {

	}



	.twitter-feed {
		@include breakpoint( $tablet) {

		}


			


		p {
				margin: 0 0 1em 0;
				width: 100%;
				@include breakpoint( $tablet ){
					float: left;
					text-align: left;
					width: 50%;
				}

				&.tweet {
					font-style: italic;
					font-size: 1.3em;
					margin-bottom: .5em;
					width: 100%;
					img {
						width: 32px; /* Keep emoji in control */
					}
				}

				&.timePosted {


					&:before {
						font-family: 'FontAwesome';
						content: '\f017\0020'; // Clock/NBSP
					}
				}

				&.interact {

					@include breakpoint( $tablet ){
						text-align: right;
					}

					a {
						margin: 0 10px;
						font-size: 1.5em;
						text-decoration: none;
						border: none;
						@include breakpoint( $tablet ){
							margin: 0 0 0 10px;
						} 
						@include breakpoint( $tablet-horizontal ){
							font-size: 1em;
						} 

						span {
							@extend .visuallyhidden;
						}

						&:before {
							font-family: 'FontAwesome';
						}
	
						&.twitter_reply_icon:before {
								content: '\f112\0020' ;
						}

						&.twitter_retweet_icon:before {
								content: '\f079\0020' ;
						}

						&.twitter_fav_icon:before {
								content: '\f005\0020' ;
						}						
					}

				}
			
			}
	}

}

/* Book shelf layout */

.bookshelf {
	@include clearfix;
	@include sgs-change('debug', true);
	// @include background-grid($color: pink);
	// @include add-grid(24);
	@include add-grid(24 at 480px);
	@include add-gutter(1/3);
}

	.book-item {
	
		article {
			width: 48%;
			padding-right: 4%;

			h5 {
				margin: 0;
				color: $color_grey;
				font-style: italic;
			}
		}
		.image-wrapper {
			width: 48%;
			float: right;
		}
		&:first-of-type {
			@include breakpoint( $mobile-horizontal ){
				@include grid-span(6, 1);
			}
		}
		&:nth-of-type(2) {
			@include breakpoint( $mobile-horizontal ){
				@include grid-span(6, 10);
			}
		}
		&:nth-of-type(3) {
			@include breakpoint( $mobile-horizontal ){
				@include grid-span(6, 19);
			}
		}
	}


#events {
	// Colors
	color: $color_text-events;
	background: $color_background-events;
	h2 {
		margin-top: 0;
	}
	&:before {
		height: 50%;
		background: #116094;
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
		-webkit-transform-origin: 3% 0;
		transform-origin: 3% 0;
	}
}

#the-books {
	@include palette-2;
	z-index: 1;
	position: relative;
	h2 {
		margin-top: 0;
	}
	&::before,
	&::after {
	position: absolute;
	content: '';
	pointer-events: none;
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

&::before {
	height: 50%;
	background: darken( $color_background-books, 3%);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}
}

#quotes 	{
	background: $color_background-quotes;
	color: $color_text-quotes;
	h2 {
		margin-top: 0;
	}
}
