/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;

  ul ul {
	  @include breakpoint(tablet){
		  position: absolute;
		  top: 0;
		  left: $width_menu-item;
	  }
  }
}

.nav-collapse li {
  width: $width_menu-item;
  display: block;
}

.js .nav-collapse {
  	clip: rect(0 0 0 0);
  	max-height: none;
  	position: absolute;
  	display: block;
  	overflow: hidden; // hides menu until toggle is clicked
  	zoom: 1;
  	@include breakpoint(tablet){
		overflow: visible; // for dropdown menus 
	}	  
  &.closed {
		max-height: 0;
		@include breakpoint(tablet){
			max-height: none;
		}
	}
  @include breakpoint(tablet){
		position: relative;
	}
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

#nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  @include breakpoint(tablet){
	   display: none;
	}
 }
