ul.social-media-links {
	@extend .nobullets !optional;
	font-size: 1.2em;
	margin-bottom: 1em;
	@include breakpoint( $tablet ){
		font-size: 1.4em;
	}

	li {
		display: inline-block;
		text-align: center;
		a {
			opacity: .2;
			padding: .5em;			
			&:link {
				text-decoration: none;
			}

			&:hover {
				opacity: .6;
				@include transition(all, 0.3s, ease-in-out);
			}
		}
	}
}

// Tweaks

ul.social-media-links {
	// float: right;
	// width: 5em;

	li {
		display: inline-block;
		a {

			&:link {
				text-decoration: none;
			}

			&:hover {
				opacity: .7;
			}
		}
	}
}
