/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

$container-width: 64em; // Set max width of container element in ems.
$pageWidth: 100%;
$textblock-width: 100%;
$block-padding: 1em 3%;
$side-padding: 0 3%;
$width_menu-item: 150px; // Dropdown menu needs fixed width for positioning

	/* Masonry layouts */

	// Apply these to the .grid-sizer and .gutter-sizer elements, plus the items themselves.

	$grid-sizer-1: 47.5%; // 2 columns, gutter x1
	$grid-sizer-2: 30%; // 3 columns, gutter x2
	$gutter-sizer-1: 5%; // width of gutter


/* ==========================================================================
   Colors
   ========================================================================== */

/* Import libraries */

	// @import "partials/color-me-sass";

/* Assign values to color names */

	/* Shades */
	
	$color_black: 				#000000;		/* example */
	$color_white: 				#ffffff;		/* example */
	
	$color_grey-dark: 		darken($color_white, 80%);
	$color_grey: 				darken($color_white, 50%);
	$color_grey-light: 		darken($color_white, 10%);
	
	/* Colors */
	
	$color_red: 				red; 			/* example */
	$color_blue: 				blue; 		/* example */
	$color_orange:	 			orange; 		/* example */
	$color_green:	 			green; 		/* example */

/* Link color names to descriptive names 
	Use these values outside of this stylesheet!
*/

	$color_text:							lighten( $color_black, 30% ); 
	$color_text-cta:						$color_white; 
	$color_text-cta-2:					$color_grey; 
	$color_text-anchor:					$color_black; 
	$color_text-header:					$color_black; 
	$color-text-pre-header:				$color_black;	
	$color_text-footer:					$color_black; 
	$color_text-anchor-visited:		$color_black; 
	$color_text-anchor-hover:			$color_black; 
	$color_text-anchor-active:			$color_black; 
	
	$color_text-selection: 				$color_orange;
	
	$color_background:					$color_white;
	$color_background-cta:				$color_red;
	$color_background-cta-2:			$color_white;
	$color_background-nav:				$color_white;
	$color_background-header:			$color_white;
	$color-background-pre-header:		darken($color_white, 10%);
	$color_background-footer:			$color_white;
	
	$color_border: 						$color_black;
