/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 100%;
$block-padding: 1em 3%;
$side-padding:3%;

// Text Selection
$selectionColor: orange;

// Colors
$red: green;
$blue: blue;

// Menu 

$menu-base-color: #7F8C8D;

// Alternate Color Scheme

$base-color-alt: $nephritis;
$text-color-alt: darken(white, 5%);
$text-shadow-color-alt: none;
	// Links
	$link-color-alt: darken(white, 15%);
